@model Domain.ModelView.FuzzieModelView


@section Scripts {
    <!-- Argon CSS -->
    <link type="text/css" href="@Domain.Util.config.UrlSite/assets/css/argon.css?v=1.0.0" rel="stylesheet">
}

@{
    ViewBag.Title = @Domain.Util.config.Title;
}




@using (Html.BeginForm("Fuzzie", "Diffuse", FormMethod.Post, new { autocomplete = "on" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">@ViewBag.PageTopInformation</h3>
                            </div>
                            <div class="col-4 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">@ViewBag.Acao</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.descricao)</label>
                                            @Html.TextBoxFor(model => model.descricao, new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.descricao)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button name="button" class="btn btn-primary mt-4" value="register">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("Fuzzieid", Model.fuzzieid)
        @Html.Hidden("Menuid", Model.menuid)
        @Html.Hidden("MenuSubId", Model.menusubid)

        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Register</h3>
                            </div>
                            <div class="col text-right">
                                <span class="heading-small text-muted mb-4">@Model.Fuzzies.Count record(s) listed</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Fuzzies)
                                {
                                    <tr>
                                        <th scope="row">
                                            @item.fuzzieid
                                        </th>
                                        <td>
                                            @item.descricao
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/Diffuse/Fuzzie/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.fuzzieid">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" title="Fuzzie edit" width="30" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/Delete/Deletar/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.fuzzieid/@item.descricao?ac=FuzzieDelete&cr=Diffuse&txt=Fuzzie @item.descricao">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" title="Fuzzie delete" width="30" />
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                @*<ul class="pagination justify-content-end mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p></p><p></p>
        @*<!-- End Table -->
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>*@
    </div>


}
