@model Domain.ModelView.MoedaModelView


@section Scripts {


    <script type="text/javascript">

    </script>

}


@{
    ViewBag.Title = "Adara";
}
@*<div id="submenu_tab">
  
    <a href="@Domain.Util.config.UrlSite/Coin_User/Moeda_User" class="btn btn-sm btn-default btn-flat">Atribuição</a>
    <a href="@Domain.Util.config.UrlSite/Coin/Moeda" class="btn btn-sm btn-default btn-flat">Moeda</a>
    
</div>*@


@using (Html.BeginForm("Moeda", "Coin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="main-content">
        <h2>Adicionar Moeda</h2>

        <div style="color: #ff6a00; font-size: large; padding: 20px 20px 20px 20px;">
            @ViewBag.erro
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
     
        <div class="editor-label">
            Ativo
        </div>
        <div class="inputgrande">
            @if (Model.status == 1)
            {
                Model.statusb = true;
            }
            else
            {
                Model.statusb = false;
            }
            @Html.CheckBoxFor(model => model.statusb)
            @Html.ValidationMessageFor(model => model.status)
        </div>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td>
                    <button name="button" class="botao01" value="register">Salvar</button>
                    @Html.Hidden("Moedaid", Model.Moedaid)
                    @Html.Hidden("dataincl", Model.DataIncl)
                    @Html.Hidden("Menuid", Model.menuid)
                    @Html.Hidden("MenuSubId", Model.menusubid)
                    <input id="repreid" value="@ViewBag.repreid" type="hidden" />
                </td>
            </tr>
        </table>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastros</h3>
                    <div class="box-tools pull-right">@Model.Moedas.Count registro(s) listado(s)</div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin" id="ajax">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Moeda</th>
                                    <th class="ico">Status</th>
                                    <th class="ico">Editar</th>
                                    <th class="ico">Excluir</th>
                                </tr>
                            </thead>
                            @{
                                var st = "Inativo";
                            }
                            @foreach (var item in Model.Moedas)
                            {
                                st = "Inativo";

                                if (item.Status == 1)
                                {
                                    st = "Ativo";
                                }
                                <tr id="sumir" style="visibility: visible" class="tablelist int">
                                    <td class="minimo">@item.moedaid</td>
                                    <td class="medio">@item.Descricao</td>
                                    <td class="ico">
                                        <img src="@Domain.Util.config.UrlImg/icone/ico-@st-.png" width="18" title="@st">
                                    </td>
                                    <td class="ico">
                                        <a href="@Domain.Util.config.UrlSite/Coin/Moeda/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.moedaid">
                                            <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" width="30" />
                                        </a>
                                    </td>
                                    <td class="ico">
                                        <a href="@Domain.Util.config.UrlSite/Delete/Deletar/@item.moedaid/0/@item.Descricao?ac=MoedaDelete&cr=Coin&txt=@item.Descricao">
                                            <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" width="30" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">&nbsp;</div>
            </div>
        </div>
    </div>

                                    }
