@model Domain.ModelView.UsuarioModelView

@section Scripts {

<link type="text/css" href="@Domain.Util.config.UrlSite/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script type="text/javascript">
        //load
        $(document).ready(function () {
            var id = $("#repreid").val();

            if (id == 0) {
                $("#divrepre").css("display", "");
            }
        });
    </script>
}

@{
    ViewBag.Title = @Domain.Util.config.Title;
}

@using (Html.BeginForm("Usuario", "User", FormMethod.Post, new { autocomplete = "on", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">@ViewBag.PageTopInformation</h3>
                            </div>
                            <div class="col-4 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">@ViewBag.Acao</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.UsuariosTipos)</label>
                                            @Html.DropDownListFor(x => x.usuariotipoid, new SelectList(Model.UsuariosTipos, "usuariotipoid", "descricao"), new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning">@Html.ValidationMessageFor(model => model.usuariotipoid)</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.apelido)</label>
                                            @Html.TextBoxFor(model => model.apelido, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning"> @Html.ValidationMessageFor(model => model.apelido)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.nome)</label>
                                            @Html.TextBoxFor(model => model.nome, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning">@Html.ValidationMessageFor(model => model.nome)</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.sobrenome)</label>
                                            @Html.TextBoxFor(model => model.sobrenome, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning"> @Html.ValidationMessageFor(model => model.sobrenome)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.email) <span class="text-gray" style="font-size:10px;">(UserName for Login)</span></label>
                                            @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning">@Html.ValidationMessageFor(model => model.email)</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.senha)</label>
                                            @Html.PasswordFor(model => model.senha, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning"> @Html.ValidationMessageFor(model => model.senha)</span>
                                        </div>
                                    </div>
                                </div>

                               

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.pais)</label>
                                            @Html.TextBoxFor(model => model.pais, new { @class = "form-control form-control-alternative" })
                                            <span class="text-warning"> @Html.ValidationMessageFor(model => model.pais)</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.imagem)</label>
                                            @Html.TextBoxFor(model => Model.imagem, new { type = "file", accept = "image/*", @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.imagem)<br />
                                            <div style="font-size: small; color: #999">Dimensões: 160 x 160 (use fotos de no máximo 100k)</div>
                                            <p>&nbsp;</p>

                                            @if (!string.IsNullOrEmpty(Model.arquivoimagem))
                                            {
                                                <img src="@Domain.Util.config.UrlImg/usuario/@Model.arquivoimagem" width="160" height="160" />
                                                <br />
                                                <div style="font-size: small; color: #999">Foto Atual</div>
                                            }
                                            else
                                            {
                                                <div style="font-size: small; color: #999">Você não possui foto</div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.recebeemails) </label>
                                            <div class="inputgrande">
                                                @if (Model.recebeemails == 1)
                                                {
                                                    Model.recebeemailb = true;
                                                }
                                                else
                                                {
                                                    Model.recebeemailb = false;
                                                }
                                                @Html.CheckBoxFor(model => model.recebeemailb)
                                               <br />
                                                <span class="text-gray" style="font-size:11px">check this if the user is the administrative person</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                           
                                        </div>
                                    </div>
                                </div>


                            </div>
                          
                            <!-- Description -->
                           <div class="text-right">
                                <button name="button" class="btn btn-primary mt-4" value="register">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("userid", Model.userid)
        @Html.Hidden("dataincl", Model.dataincl)
        @Html.Hidden("arquivoimagem", Model.arquivoimagem)
        @Html.Hidden("Menuid", Model.menuid)
        @Html.Hidden("MenuSubId", Model.menusubid)

        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Register</h3>
                            </div>
                            <div class="col text-right">
                                <span class="heading-small text-muted mb-4">@Model.Usuarios.Count record(s) listed</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">NickName</th>
                                    <th scope="col">Email/Login</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Usuarios)
                                {
                                    <tr>
                                        <th scope="row">
                                            @item.UserId
                                        </th>
                                        <td>
                                            @item.Nome
                                        </td>
                                        <td>
                                            @item.Apelido
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.UsuarioTipo.descricao
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.imagem))
                                            {
                                                <img alt="Image placeholder" src="@Domain.Util.config.UrlSite/images/usuario/@item.imagem" width="40" class="rounded-circle">
                                            }
                                            
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/User/Usuario/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.UserId">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" title="edit client" width="30" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/Delete/Deletar/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.UserId/@item.Apelido?ac=UsuarioDelete&cr=User&txt=User @item.Apelido">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" title="delete user" width="30" />
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                @*<ul class="pagination justify-content-end mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p></p><p></p>
        @*<!-- End Table -->
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>*@
    </div>


}
