@model Domain.ModelView.UsuarioMenuModelView


@{
    ViewBag.Title = @Domain.Util.config.Title;
}

@section Scripts {
    <link type="text/css" href="@Domain.Util.config.UrlSite/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script src="@Domain.Util.config.UrlSite/Scripts/jsmask/lib/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="@Domain.Util.config.UrlSite/Scripts/jsmask/dist/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src="@Domain.Util.config.UrlSite/Scripts/jqueryenterdesable.js" type="text/javascript"></script>

    <script type="text/javascript">

        $('input:checkbox').change(function () {
            //tipoid
            if (this.checked == false) {
                var ckname = this.name;
                var tpindex = ckname.indexOf("&_")
                var tpid = this.name.substr(3, tpindex - 3);

                //menuid
                var mnid = this.name.substr(tpindex + 2, 10);
            }

        });

        //*****************
        //valida o form
        $(document).submit(function (e) {
            e.preventDefault();
            var lista = [];
            var tpid = "";
            var tpindex = "";
            var mnid = "";
            var mnindex = "";
            var ckname = "";

            $.each($('input:checkbox'), function (i, el) {
                //pega o nome do controle
                ckname = el.name;

                //validações
                if (ckname.indexOf("ck_") >= 0) {
                    //tipoid
                    tpindex = ckname.indexOf("&_")
                    tpid = el.name.substr(3, tpindex - 3);

                    //menuid
                    mnid = el.name.substr(tpindex + 2, 10);

                    atvid = el.name.replace("ckat", "");
                    if (el.checked) {
                        lista.push(tpid + ":" + mnid)
                    }
                }
            });

            //submit form

            $.post('@Url.Action("InsertAjax")', $.param({ data: lista }, true), function (data) { });

            redir();
            //$.get('@Url.Action("InsertAjax")', $.param({ data: lista }, true), function (data) { });
        });


        function redir() {
            function explode() {

                var menuid = $("#UsuarioMenuid").val();
                var menusubid = $("#MenuSubId").val();

                var url = "/UserMeni/UsuarioMenu/" + menuid + "/" + menusubid + "/0";
                //alert(url);
                $(location).attr("href", url);
            }
            setTimeout(explode, 2000);
        }


        //**********************************************
        //fim submit



        //load
        $(document).ready(function () {
            //limpa os controles
            $.each($('input'), function (i, el) {
                el.checked = false;
            });

            //carrega os checks
            listaPersmissoes();
        });


        function listaPersmissoes() {
            $.getJSON('@Url.Action("ListaPermissoes/")', listaPermissoesCallBack);
        }

        function listaPermissoesCallBack(json) {
            var i = 0;
            var ckname = ""
            $.each(json, function (key, data) {
                $.each($('input:checkbox'), function (i, el) {
                    $.each(json, function (key, data) {
                        ckname = "ck_" + data.usuariotipoid + "&_" + data.menuid
                        if (el.name == ckname) {
                            el.checked = true;
                        }
                    })

                });
            })
        }


    </script>
}


@using (Html.BeginForm("UsuarioMenu", "UserMeni", FormMethod.Post, new { autocomplete = "on" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Page content -->
    <div class="container-fluid mt--7">
        @Html.Hidden("UsuarioMenuid", Model.menuid)
        @Html.Hidden("MenuSubId", Model.menusubid)

        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Permissions Menu</h3>
                            </div>
                            <div class="col text-right">
                                <span class="heading-small text-muted mb-4">@Model.Menus.Count record(s) listed</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Menu</th>
                                    <th scope="col" colspan="10"><span style="margin-left:100px">Permission</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Menus)
                                {
                                    var itemdescr = item.descricao + ".png";
                                    <tr id="sumir">
                                        <th scope="row">
                                            <span class="@item.icone"></span> @item.descricao
                                        </th>
                                        <th>
                                            @foreach (var tipoitem in Model.UsuariosTipos)
                                            {
                                            <th>@tipoitem.descricao<br />
                                                <label class="custom-toggle">
                                                    <input type="checkbox" id="ck_@tipoitem.usuariotipoid&_@item.menuid" name="ck_@tipoitem.usuariotipoid&_@item.menuid" />
                                                    <span class="custom-toggle-slider rounded-circle"></span>
                                                </label>
                                                <span class="clearfix"></span>
                                            </th>
                                            }
                                        </tr>
                                }
                                <tr>
                                    <th class="text-right">
                                        <button name="button" id="sabebutton" class="btn btn-primary mt-4" value="register">Save</button>
                                    </th>
                                </tr>


                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                @*<ul class="pagination justify-content-end mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p></p><p></p>
        @*<!-- End Table -->
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>*@
    </div>


}
