@model Domain.ModelView.MenuSubModelView


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            
            var id = $("#Menuid").val();
            $("#menuid").val(id);
        });
    </script>
}

@{
    ViewBag.Title = "Adarana";
}

@*<div id="submenu_tab">
        <a href="@Domain.Util.config.UrlSite/Meni/Menu" class="btn btn-sm btn-default btn-flat">Menu</a>
        <a href="@Domain.Util.config.UrlSite/MeniSub/MenuSub" class="btn btn-sm btn-default btn-flat">Sub Menu</a>
        <a href="@Domain.Util.config.UrlSite/User/Usuario" class="btn btn-sm btn-default btn-flat">Usuário</a>
        <a href="@Domain.Util.config.UrlSite/UserMeni/UsuarioMenu" class="btn btn-sm btn-default btn-flat">Permissão Menu</a>
        <a href="@Domain.Util.config.UrlSite/UserMeniSub/UsuarioMenuSub" class="btn btn-sm btn-default btn-flat">Permissão Sub Menu</a>
        <a href="@Domain.Util.config.UrlSite/UserType/UsuarioTipo" class="btn btn-sm btn-default btn-flat">Usuário Tipo</a>
    </div>*@

@using (Html.BeginForm("MenuSub", "MeniSub", FormMethod.Post, new { autocomplete = "on" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="main-content">
        <h2>Adicionar Sub Menu</h2>

        <div class="editor-label">
            @Html.LabelFor(model => model.menus)
        </div>
        <div class="inputgrande">
            @Html.DropDownListFor(x => x.menuid, new SelectList(Model.menus, "menuid", "descricao"))
            @Html.ValidationMessageFor(model => model.menuid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.icone)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.icone)
            @Html.ValidationMessageFor(model => model.icone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.controller)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.controller)
            @Html.ValidationMessageFor(model => model.controller)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.view)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.view)
            @Html.ValidationMessageFor(model => model.view)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ordem)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.ordem)
            @Html.ValidationMessageFor(model => model.ordem)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="inputgrande">
            @if (Model.status == 1)
            {
                Model.statusb = true;
            }
            else
            {
                Model.statusb = false;
            }
            @Html.CheckBoxFor(model => model.statusb)
            @Html.ValidationMessageFor(model => model.status)
        </div>
        <table>
            <tr>
                <td>
                    <button name="button" class="botao01" value="register">Salvar</button>
                    @Html.Hidden("Menuid", Model.menuid)
                    @Html.Hidden("MenuSubid", Model.menusubid)
                    @Html.Hidden("Menuid_menu", Model.menuid_menu)
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>
    </div>

    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastros</h3>
                    <div class="box-tools pull-right">@Model.menussubs.Count registro(s) listado(s)</div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin" id="ajax">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Ícone</th>
                                    <th>URL</th>
                                    <th>Ordem</th>
                                    <th class="ico">Status</th>
                                    <th class="ico">Editar</th>
                                    <th class="ico">Excluir</th>
                                </tr>
                            </thead>
                            @{
                                var st = "Inativo";
                            }
                            @foreach (var item in Model.menussubs)
                            {
                                st = "Inativo";

                                if (item.status == 1)
                                {
                                    st = "Ativo";
                                }
                                var itemdescr = item.icone + ".png";
                                <tr id="sumir" style="visibility: visible">

                                    <td class="ico"><img src="@Domain.Util.config.UrlImg/menu/ico-@itemdescr" width="40" /></td>
                                    <td class="minimo">@item.menusubid</td>
                                    <td class="pequeno">@item.descricao</td>
                                    <td class="pequeno">@item.icone</td>
                                    <td class="grande">@item.view + "/" +  @item.controller</td>
                                    <td class="minimo">@item.ordem</td>
                                    <td class="minimo">
                                        <img src="@Domain.Util.config.UrlImg/icone/ico-@st-.png" width="18" title="@st">
                                    </td>
                                    <td class="ico">
                                        <a href="@Domain.Util.config.UrlSite/MeniSub/MenuSub/@ViewBag.MenuId/@item.menusubid/@item.menuid">
                                            <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" width="30" />
                                        </a>
                                    </td>
                                    <td class="ico">
                                        <a href="@Domain.Util.config.UrlSite/Delete/Deletar/@ViewBag.MenuId/@item.menusubid/@item.menuid?ac=MenuSubDelete&cr=MeniSub&txt=@item.descricao">
                                            <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" width="30" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">&nbsp;</div>
            </div>
        </div>
    </div>

                                }