@model Domain.ModelView.ProjetoModelView


@{
    ViewBag.Title = @Domain.Util.config.Title;
}

@section Scripts {

    <link type="text/css" href="@Domain.Util.config.UrlSite/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script src="@Domain.Util.config.UrlSite/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="@Domain.Util.config.UrlSite/assets/js/argon.min.js?v=1.0.0"></script>



    <script type="text/javascript">
        $("#all").click(function () {
            //verifica se o check está marcado
            if (this.checked) {
                //marca todos
                $('input[type=checkbox]').each(function () {
                    $(this).prop("checked", true);
                    $("#all").prop("title", "Desmarcar Todos");
                });
            }
            else {
                //desmarca todos
                $('input[type=checkbox]').each(function () {
                    $(this).prop("checked", false);
                    $("#all").prop("title", "Marcar Todos");
                });
            }
        });



        $("#clienteid").change(function () {

            GetClientsContacts();
            GetClientsPrice();

        });

        //busca os contatos após clicar no cliente
        function GetClientsContacts()
        {
            var id = $("#clienteid").val();
            if (id != 0) {
                //busca os contatos daquele cliente
                ListaContatos(id);

                $("#lstContacts").css('display', 'block');
            }
            else {
                $("#lstContacts").css('display', 'none');
            }
        }

        //busca os preços após clicar no cliente
        function GetClientsPrice() {
            var id = $("#clienteid").val();
            if (id != 0) {
                //busca os contatos daquele cliente
                ListaPrecos(id);

                $("#lstPrices").css('display', 'block');
            }
            else {
                $("#lstPrices").css('display', 'none');
            }
        }


        function ListaContatos(id) {

            var projetoid = $("#projetoid").val();
            $.getJSON('@Url.Action("ListaContatos/")' + id + "/" + projetoid, ListaContatosCallBack);
        }

        function ListaContatosCallBack(json) {
            var i = 0;
            var unorchek = "";
            $("#ajaxfind").find("tr:gt(1)").remove();
            $("#lstContacts").css('display', 'block');
            $.each(json, function (key, data) {
                $(function () {
                    unorchek = "";
                    if (data.Status == 1)
                        unorchek = " checked='checked' ";
                    i += 1;
                    var index = 1;
                    newRow = "<tr id='trajaxfind'>" +
                        "<td class='text-blue' style='font-size:14px'>xxx</td>" +
                        "</tr>";

                    $('#ajaxfind').append('<tr><th>' + data.nome + '</th><th>' + data.email + '</th><th><label class="custom-toggle"><input ' + unorchek + ' onchange="GetCheck(' + data.clientecontatoid + ',this);" type="checkbox" id="ckbre_' + data.clientecontatoid + '" name="ckbre_' + data.clientecontatoid + '" /><span class="custom-toggle-slider rounded-circle"></span></label></th></tr>');

                });
            })
        }

        function GetCheck(clientecontatoid, obj) {
            var clienteid = $("#clienteid").val();
            var projetoid = $("#projetoid").val();
            var lstcliconpro = [];
            lstcliconpro.push(projetoid + ":" + clienteid + ":" + clientecontatoid + ":" + obj.checked);

            $.post('@Url.Action("InsertClienteContatoAjax")', $.param({ data: lstcliconpro }, true), function (data) {
            });

        }



        function ListaPrecos(id) {

            var projetoid = $("#projetoid").val();
            $.getJSON('@Url.Action("ListaPrecos/")' + id + "/" + projetoid, ListaPrecosCallBack);
        }

        function ListaPrecosCallBack(json) {
            var i = 0;
            var unorchek = "";
            var habilita = ""
            $("#ajaxfindprices").find("tr:gt(1)").remove();
            $("#lstPrices").css('display', 'block');
            $.each(json, function (key, data) {
                $(function () {
                    unorchek = "";
                    precopalavra = "";
                    habilita = "enabled";
                    if (data.status == 1) {
                        unorchek = " checked='checked' ";
                        qtdepalavra = data.qtdepalavra;
                        habilita = "disabled";
                    }
                    i += 1;
                    var index = 1;
                    newRow = "<tr id='trajaxfindprices'>" +
                        "<td class='text-blue' style='font-size:14px'>xxx</td>" +
                        "</tr>";

                    $('#ajaxfindprices').append('<tr><th>' + data.Fuzzie.descricao + '</th><th><span id="val_' + data.clienteprecoid + '">' + data.valorperc + '</span></th><th><input type="textbox" ' + habilita + ' value="' + data.qtdepalavra + '"  id="pal_' + data.clienteprecoid + '"></th><th><label class="custom-toggle"><input ' + unorchek + ' onchange="GetCheckPreco(' + data.clienteprecoid + ',' + data.fuzzieid + ',this);" type="checkbox" id="ckpre_' + data.clienteprecoid + '" name="ckpre_' + data.clienteprecoid + '" /><span class="custom-toggle-slider rounded-circle"></span></label><span style="font-size:10px;" id="msg_' + data.clienteprecoid + '"</th></tr>');
                    
                    
                });
            })
        }



        function GetCheckPreco(clienteprecoid, fuzzieid, obj)
        {
            var clienteid = $("#clienteid").val();
            var projetoid = $("#projetoid").val();


            //pega o valor digitado
            var qtdepalavra = $("#pal_" + clienteprecoid).val();
            var valorperc = $("#val_" + clienteprecoid).html();

            $("#msg_" + clienteprecoid).html("");
            $("#pal_" + clienteprecoid).css('border-color', '#000');

            if (!obj.checked)
            {
                $("#pal_" + clienteprecoid).val("");
                $("#pal_" + clienteprecoid).css('border-color', '#000');
                qtdepalavra = 0;
                valorperc = 0;
            }

            if (obj.checked & (qtdepalavra == "" | qtdepalavra == 0))
            {
                $("#msg_" + clienteprecoid).html("Please Enter First Word Value");
                $("#ckpre_" + clienteprecoid).prop('checked', false);
                $("#pal_" + clienteprecoid).css('border-color', '#ff3300');
            }
            else
            {
                var lstcliconpro = [];
                lstcliconpro.push(projetoid + ":" + clienteid + ":" + clienteprecoid + ":" + obj.checked + ":" + valorperc + ":" + qtdepalavra + ":" + fuzzieid);

                $.post('@Url.Action("InsertClientePrecoAjax")', $.param({ data: lstcliconpro }, true), function (data) {

                    //VERIFICA SE ESTA CHECADO

                    var chk = isCheckedById("ckpre_" + clienteprecoid);

                    if (chk) {
                        $("#pal_" + clienteprecoid).prop('disabled', true);
                    }
                    else {
                        $("#pal_" + clienteprecoid).prop('disabled', false);
                    }



                    //$("#pal_" + clienteprecoid).prop('disabled', true);
                });

            }


        }


        function isCheckedById(id) {

            var checked = $("input[id=" + id + "]:checked").length;
            if (checked == 0) {
                return false;
            } else {
                return true;
            }
        }


        //****************************************
        // no clique o evento  - carrega os combos
        $("#idiomaidfrom").change(function () {
            var from = $("#idiomaidfrom option:selected").text();
            $("#descricaode").val(from);
        });


        $("#idiomaidto").change(function () {
            var from = $("#idiomaidto option:selected").text();
            $("#descricaopara").val(from);
        });


        $("#imp").click(function () {
            var divContents = $("#conteudoprint").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Print</title>');
            printWindow.document.write('</head><body><div style="font-size:10px">');
            printWindow.document.write(divContents);
            printWindow.document.write('</div></body></html>');
            printWindow.document.close();
            printWindow.print();
        });


        $("#continuar").click(function () {
            e.preventDefault();
            $("#obmsg-escolha").css('visibility', 'hidden');
            var dtprev = $("#dtprevisao").val()
            var repreid = $("#representanteid").val()
            var lstFechar = [];
            lstFechar.push(repreid);//guarda repreid
            lstFechar.push(dtprev);//guarda a data de vencimento
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    var vcompraid = $(this).val();
                    if (vcompraid != "on") {
                        lstFechar.push(vcompraid);
                    }
                }
            });

            //caso a lista esteja vazia, informa para que ao menos 1 compra seja escolhida
            if (dtprev == "") {
                //informa para que ao menos 1 compra seja escolhida
                $("#obmsg-escolha").css('visibility', 'visible');
                $('#obmsg-escolha').html("Informe a data de vencimento!");
            }
            else if (repreid == 0) {
                //informa para que ao menos 1 compra seja escolhida
                $("#obmsg-escolha").css('visibility', 'visible');
                $('#obmsg-escolha').html("Representante Inválido, por favor contate o Administrador!");
            }
            else if (lstFechar.length <= 2) {
                //informa para que ao menos 1 compra seja escolhida
                $("#obmsg-escolha").css('visibility', 'visible');
                $('#obmsg-escolha').html("Selecione uma compra!");
            }
            else {

                $("#continuar").css("visibility", "hidden")
                $("#imgload").css("visibility", "visible")

                $.post('@Domain.Util.config.UrlSite/Closing/FechamentoTempInsere', $.param({ data: lstFechar }, true), function (data) { });

                redir(repreid);

            }


            function redir(repreid) {
                function explode() {
                    var url = "/Closing/FechamentoTemp/" + repreid;
                    //alert(url);
                    $(location).attr("href", url);
                }
                setTimeout(explode, 2000);
            }

        });



        $(function () {
            $("#ValorPardeIdiomas").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
            $("#valorcomissao").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
        })


        $(document).ready(function () {
            var id = $("#clienteid").val();
            if (id != 0) {
                $("#lstContacts").css('display', 'block');
                ListaContatos(id);

                $("#lstPrices").css('display', 'block');
                ListaPrecos(id);
            }
            else {
                $("#lstContacts").css('display', 'none');
                $("#lstPrices").css('display', 'none');
            }


            //$.mask.definitions['~'] = "[+-]";
            $('#dataentregaprev').mask('99/99/9999');
            $('#dataentrega').mask('99/99/9999');

            //carrega as atividades desse projeto

            var wprojetoid = $("#Projetoid").val();
            InsereAtv(wprojetoid, 0, "");



            var dt = new Date();
            var mes = dt.getMonth() + 1;
            var dia = dt.getDate();
            var ano = dt.getFullYear();
            $('#dataentregaprev').val(dia + "/" + mes + "/" + ano);
            $('#dataentrega').val(dia + "/" + mes + "/" + ano);

            var msg = $("#erromsg").html();
            if (msg.trim() != "") {
                $("#container").css("display", "none");
            }

            var id = $("#repreid").val();
            if (id == 0) {
                $("#divrepre").css("display", "");
            }

            //formatando o campo de valor
            $('input[type=text]').each(function () {
                var ct = $(this).prop("id");
                var ctname = ct.substring(0, 3);
                if (ctname == "pg_") {
                    $("#" + ct).maskMoney({ showSymbol: true, symbol: "", decimal: ",", thousands: "." });
                }


            });
        });



        function stcheck(st, fechamentoid) {
            var vl = $("#pg_" + fechamentoid).val();
            if (vl != "") {
                $.getJSON('@Url.Action("StCheck/")' + st + "/" + fechamentoid + "/" + vl, StCheckCallBack);
            }
            else {
                $("#obmsg-escolha").css('visibility', 'visible');
                $('#obmsg-escolha').html("Informe o Valor Pago!");
            }
        }
        function StCheckCallBack(json) {
            //Limpar os itens que são maiores que 0
            //Ou seja: não retirar o primeiro item
            $(json).each(function () {
                var dtpagto = "-";
                var st = this.fechamentostatusid;
                var stat = this.FechamentoStatus.Descricao;
                var alt = "Marcar Pago";

                if (this.fechamentostatusid == 2) {
                    alt = "Marcar Não Pago";
                }

                var newtd = "<img src='@Domain.Util.config.UrlImg/icone/ico-" + st + "-.png' width='28' title='" + stat + " - " + alt + "' id='fec_" + this.boletoid + "' style='cursor:pointer;' onclick='stcheck(" + this.fechamentostatusid + "," + this.fechamentoid + ")'>"
                $("#ico_" + this.fechamentoid).html(newtd);

                //if (this.datapagto.substring(0, 10) == "01/01/2001") {
                //    dtpagto = "-";
                //}
                //else {
                //    dtpagto = item.datapagto.substring(0, 10);
                //}

                //$("#pgto_" + this.fechamentoid).html(dtpagto);

            });
        }


        function moeda(valor, casas, separdor_decimal, separador_milhar) {

            var valor_total = parseInt(valor * (Math.pow(10, casas)));
            var inteiros = parseInt(parseInt(valor * (Math.pow(10, casas))) / parseFloat(Math.pow(10, casas)));
            var centavos = parseInt(parseInt(valor * (Math.pow(10, casas))) % parseFloat(Math.pow(10, casas)));


            if (centavos % 10 == 0 && centavos + "".length < 2) {
                centavos = centavos + "0";
            } else if (centavos < 10) {
                centavos = "0" + centavos;
            }

            var milhares = parseInt(inteiros / 1000);
            inteiros = inteiros % 1000;

            var retorno = "";

            if (milhares > 0) {
                retorno = milhares + "" + separador_milhar + "" + retorno
                if (inteiros == 0) {
                    inteiros = "000";
                } else if (inteiros < 10) {
                    inteiros = "00" + inteiros;
                } else if (inteiros < 100) {
                    inteiros = "0" + inteiros;
                }
            }
            retorno += inteiros + "" + separdor_decimal + "" + centavos;


            return retorno;

        }


    </script>
}


@using (Html.BeginForm("Projeto", "Project", FormMethod.Post, new { autocomplete = "on", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">@ViewBag.PageTopInformation</h3>
                            </div>
                            <div class="col-4 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">@ViewBag.Acao</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.numeroprojeto)</label>
                                            @Html.TextBoxFor(model => model.numeroprojeto, new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.numeroprojeto, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.ProjetoTipos)</label>
                                            @Html.DropDownListFor(x => x.projetotipoid, new SelectList(Model.ProjetoTipos, "projetotipoid", "descricao"), new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.projetotipoid, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.titulo)</label>
                                            @Html.TextBoxFor(model => model.titulo, new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.titulo,"", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.clienteid)</label>
                                            @Html.DropDownListFor(x => x.clienteid, new SelectList(Model.Clientes, "clienteid", "fantasia"), new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.clienteid, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                </div>
                                <div id="contatos" style="display:block; background-color:#fff">
                                    <div class="table-responsive" id="lstContacts" style="display:none">
                                        <!-- Projects table -->
                                        <table class="table align-items-center table-flush" id="ajaxfind">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" colspan="3">select clients contact</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">E-mail</th>
                                                    <th scope="col">Select</th>
                                                </tr>
                                            </thead>
                                        </table>

                                        <table class="table align-items-center table-flush" id="ajaxfind">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">&nbsp;</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div id="listapreco" style="display:block; background-color:#fff">
                                    <div class="table-responsive" id="lstPrices" style="display:none">
                                        <!-- Projects table -->
                                        <table class="table align-items-center table-flush" id="ajaxfindprices">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" colspan="4">select clients prices</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Fuzzie</th>
                                                    <th scope="col">% Value</th>
                                                    <th scope="col">Word Count</th>
                                                    <th scope="col">Select</th>
                                                </tr>
                                            </thead>
                                        </table>

                                        <table class="table align-items-center table-flush" id="ajaxfindprices">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">&nbsp;</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.dataentregaprev)</label>
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.dataentrega)</label>
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" placeholder="Select date" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.idiomaidfrom)</label>
                                            @Html.DropDownListFor(x => x.idiomaidfrom, new SelectList(Model.Idiomas, "Idiomaid", "Sigla"), new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.idiomaidfrom, "", new { @class = "badge badge-warning" })

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.idiomaidto)</label>
                                            @Html.DropDownListFor(x => x.idiomaidto, new SelectList(Model.Idiomas, "Idiomaid", "Sigla"), new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.idiomaidto, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">@Html.LabelFor(model => model.moedaidrecebe)</label>
                                            @Html.DropDownListFor(x => x.moedaidrecebe, new SelectList(Model.Moedas, "moedaid", "descricao"), new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.moedaidrecebe, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">@Html.LabelFor(model => model.obs)</label>
                                            @Html.TextBoxFor(model => model.obs, new { @class = "form-control form-control-alternative" })
                                            @Html.ValidationMessageFor(model => model.obs, "", new { @class = "badge badge-warning" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button name="button" class="btn btn-primary mt-4" value="register">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("projetoid", Model.projetoid)
        @Html.Hidden("dataincl", Model.DataIncl)
        @Html.Hidden("menuid", Model.menuid)
        @Html.Hidden("menusubid", Model.menusubid)

        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Register</h3>
                            </div>
                            <div class="col text-right">
                                <span class="heading-small text-muted mb-4">@Model.Projetos.Count record(s) listed</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Create Date</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Projetos)
                                {

                                    <tr>
                                        <th scope="row">
                                            @item.numeroprojeto
                                        </th>
                                        <td>
                                            @item.titulo
                                        </td>
                                        <td>
                                            @item.dataincl.ToShortDateString()
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/Project/Projeto/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.projetoid">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" title="edit project" width="30" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Domain.Util.config.UrlSite/Delete/Deletar/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.projetoid/@item.descricao?ac=ProjetoDelete&cr=Project&txt=Project @item.descricao">
                                                <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" title="delete project" width="30" />
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                @*<ul class="pagination justify-content-end mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p></p><p></p>
        @*<!-- End Table -->
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>*@
    </div>


}