@model Domain.ModelView.MenuModelView


@section Scripts {
}

@{
    ViewBag.Title = "Adarana";
}


@using (Html.BeginForm("Menu", "Meni", FormMethod.Post, new { autocomplete = "on" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    <div class="main-content">
        <h2>Adicionar Menu</h2>
        <div class="editor-label">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.icone)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.icone)
            @Html.ValidationMessageFor(model => model.icone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.controller)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.controller)
            @Html.ValidationMessageFor(model => model.controller)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.view)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.view)
            @Html.ValidationMessageFor(model => model.view)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ordem)
        </div>
        <div class="inputgrande">
            @Html.EditorFor(model => model.ordem)
            @Html.ValidationMessageFor(model => model.ordem)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="inputgrande">
            @if (Model.status == 1)
            {
                Model.statusb = true;
            }
            else
            {
                Model.statusb = false;
            }
            @Html.CheckBoxFor(model => model.statusb)
            @Html.ValidationMessageFor(model => model.status)
        </div>
        <table>
            <tr>
                <td>
                    <button name="button" class="botao01" value="register">Salvar</button>
                    @Html.Hidden("Menuid", Model.menuid)
                    @Html.Hidden("MenuSubId", Model.menusubid)
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>
    </div>
    
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastros</h3>
                    <div class="box-tools pull-right">@Model.menus.Count registro(s) listado(s)</div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin" id="ajax">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Ícone</th>
                                    <th>URL</th>
                                    <th>Ordem</th>
                                    <th class="ico">Status</th>
                                    <th class="ico">Editar</th>
                                    <th class="ico">Excluir</th>
                                </tr>
                            </thead>
                            @{
            var st = "Inativo";
                            }
                            @foreach (var item in Model.menus)
                            {
                                st = "Inativo";

                                if (item.status == 1)
                                {
                                    st = "Ativo";
                                }
                                <tr id="sumir" style="visibility: visible">
                                    <td class="minimo">@item.menuid</td>
                                    <td class="pequeno">@item.descricao</td>
                                    <td class="pequeno">@item.icone</td>
                                    <td class="grande">@item.view + "/" +  @item.controller</td>
                                    <td class="minimo">@item.ordem</td>
                                    <td class="minimo">
                                        <img src="@Domain.Util.config.UrlImg/icone/ico-@st-.png" width="18" title="@st">
                                    </td>
                                    <td class="ico"><a href="@Domain.Util.config.UrlSite/Meni/Menu/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.menuid">
                                        <img src="@Domain.Util.config.UrlImg/icone/ico-edit.png" width="30" /></a></td>
                                    <td class="ico"><a href="@Domain.Util.config.UrlSite/Delete/Deletar/@ViewBag.MenuId/@ViewBag.MenuSubId/@item.menuid?ac=MenuDelete&cr=Meni&txt=@item.descricao">
                                        <img src="@Domain.Util.config.UrlImg/icone/ico-delete.png" width="30" /></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
       
}